#!/usr/bin/env lua
-- config.lua.sample - config file for minnet
-- Copyright Stæld Lakorv, 2010-2011 <staeld@staeld.co.cc>
-- This file is part of Minnet.
-- Minnet is released under the GPLv3 - see ../COPYING

-- Directory for logfiles
logdir = os.getenv("HOME") .. "/.minnetlogs"

-- Main static info for the bot, including networks
bot = {
    nick  = "Minnet",
    uname = "Minnet",
    rname = "Minnet",
    nets  = {
        {
            name    = "dummynet",
            addr    = "irc.dummynet.org",
            port    = "6667", -- Optional; defaults to 6667
            secure  = false; -- Optional; defaults to false [enables ssl]
            c       = { "#channelA", "#Chan2" },
            modes   = "pxB",
            default = true,
        },
        {
            name    = "net2",
            addr    = "irc.net2.org",
            port    = "6697", -- SSL
            secure  = true,
            c       = { "#talk", "#somechan" },
            modes   = "iB",
        },
    },
    -- Access levels; owner is obligatory and must be lowest number
    levels = {
        owner   = 0,
        admin   = 1,
        oper    = 2,
        user    = 9
    },
    smiles = {
        { text = "sad",     face = ":(" },
        { text = "happy",   face = ":D" },
        { text = "angry",   face = ">:|"},
        { text = "annoyed", face = ":|" },
        { text = "annoying",face = ">:)"},
        { text = "dumb",    face = ":B" },
        { text = "stupid",  face = ":B" },
        { text = "sexy",    face = ";)" },
        { text = "smart",   face = "8)" }
    }
    -- disabled = { channame = true, chan2 = false };
    -- this is used during runtime, but can be predefined for special needs
    disabled = {}
}
msg = {
    noargs = "invalid arguments specified. See --help",
    notowner = "Hey, I'm not taking commands from you.",
    notauth = "Hey, you're not authorised for this operation!",
    bye = "Okay, bye!",
    shutup  = "Fine, I'll just shut up.",
    talk    = "By time.",
    leaving = "Minnet leaving..",
    quitting = "Minnet quitting..",
    joining = "flaps off to " -- Is an action, will be merged with channel name
}

--[[ ! Do not edit below this level
    unless you know what you're doing --]]

-- Logging levels
levels = {
    error   = 0,
    warn    = 1,
    info    = 3,    -- The default value; config must have this!
    trivial = 5,
    debug   = 9,
}
verbosity = levels["info"]  -- Set initial value

db    = { file = "users.minnet.db" }
ctcp  = {
    active = {
        version = {},
        source  = {},
        time    = {},
    }
}
otk   = {}
logs  = {}
vchan = ""

-- EOF
