#!/usr/bin/env lua
-- config.lua.sample - config file for minnet
-- Copyright Stæld Lakorv, 2010 <staeld@staeld.co.cc>
-- Released under the GPLv3
c   = { net = {} } -- Connection list
ctcp= {}
vchan = ""
msg = {
    noargs = "invalid arguments specified. See --help",
    notowner = "Hey, I'm not taking commands from you."
}
owner = {
    uname1 = "uname1", -- remember: nick!username@host
    uname2 = "me2", -- because I am on two networks; set to empty or edit minnet.lua appropriately
    host = "yourhost%.com$"
}
bot = {
    nick  = "Minnet",
    uname = "Minnet",
    rname = "Minnet",
    cmdstring = "^%%",
    nets  = {
        { name = "dummynet", addr = "irc.dummynet.org", c = { "#channelA", "#Chan2" } },
        { name = "net2", addr = "irc.net2.org", c = { "#talk", "#somechan" } }
    },
    smiles = {
        { text = "sad", face = ":(" },
        { text = "happy", face = ":D" },
        { text = "angry", face = ">:|" },
        { text = "annoyed", face = ":|" },
        { text = "dumb", face = ":B" },
        { text = "sexy", face = ";)" },
        { text = "smart", face = "8)" }
    }
}
-- }}}
-- EOF
